API_KEY=
API_URL=https://api.openweathermap.org/data/2.5/weather

BASE_URL=
API_BASE_URL=
CASE_TOKEN=
TEST_SUBJECT_ROLE_ID=
TEST_SUBJECT_PASSWORD=
JUNIOR_COORDINATOR_ROLE_ID=
JUNIOR_COORDINATOR_PASSWORD=